<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>load_age</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,64}</string>
                <key>textureRect</key>
                <string>{{152,259},{50,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load_bar_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,36}</string>
                <key>spriteSourceSize</key>
                <string>{196,36}</string>
                <key>textureRect</key>
                <string>{{1,96},{196,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_bar_edge</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{179,162},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_bar_fg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,24}</string>
                <key>spriteSourceSize</key>
                <string>{44,24}</string>
                <key>textureRect</key>
                <string>{{152,135},{44,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_bar_shade</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{152,162},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_button</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,56}</string>
                <key>spriteSourceSize</key>
                <string>{114,56}</string>
                <key>textureRect</key>
                <string>{{152,432},{114,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load_facebook</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{200,96},{160,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load_region_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,62}</string>
                <key>spriteSourceSize</key>
                <string>{117,62}</string>
                <key>textureRect</key>
                <string>{{152,312},{117,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,46}</string>
                <key>spriteSize</key>
                <string>{518,148}</string>
                <key>spriteSourceSize</key>
                <string>{1366,1024}</string>
                <key>textureRect</key>
                <string>{{1,135},{518,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start_button</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,92}</string>
                <key>spriteSourceSize</key>
                <string>{251,92}</string>
                <key>textureRect</key>
                <string>{{1,1},{251,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.pvr.ccz</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:961753dc72aa4a8a1cc323dd9d7df6b3:5c7f551fd8d2e86152ef12a3fd5ed584:0ca1ddd15ee9ba1bf67678b81c3829e4$</string>
            <key>textureFileName</key>
            <string>loading.pvr.ccz</string>
        </dict>
    </dict>
</plist>
